html, body {
    margin: 0;
    width: 100vw;
    height: 100vw
}

.color-field {
    background-color: rebeccapurple;
    height: 300px;
}

header {
    background-color:dodgerblue;
    padding: 10px;
}
